
.btn {
    background-image: linear-gradient(to top right, var(--c-brand), var(--c-brand2));
    font-size: 20px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: var(--transition);
    box-shadow: var(--box-shadow);
    color: var(--c-dark);
}

.btn:hover {
    background-image: none;
    background-color: var(--c-dark);
    color: var(--c-colorMian);
    box-shadow: var(--box-shadow);
}
