/* Navbar */
.navbar {
    background-color: white; /* Hintergrundfarbe der Navbar */
    height: 80px; /* Höhe der Navbar */
    margin: 20px; /* Außenabstand der Navbar */
    border-radius: 40px; /* Abrundung der Ecken */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); /* Schatten */
    font-size: 20px;
    color: var(--c-dark);
}
.nav-link.active {
    font-weight: bold;
}

@media (max-width: 1000px) {
    .navbar-collapse {
        background-color: var(--c-colorMian);
        margin-top: 30px;
        border-radius: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);

    }
    .nav-item {
        margin-left: 30px;
    }

    .tool {
        margin-left: 30px;
    }

}