/* Stilisiere den Container für die Frage */
.questionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

/* Stilisiere das Dropdown-Menü für Sektorauswahl */
#sectorSelect {
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    color: black;
    font-weight: 100;
    font-size: medium;
    padding: 10px;
    outline: none;
    display: block;
    justify-content: center;
}

/* Stilisiere das Eingabefeld */
#evaluation-text {
    width: calc(100% - 40px);
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(250, 255, 255, .2);
    border-radius: 40px;
    margin-bottom: 10px;
    justify-content: flex-end;
}

#subsectorSelect {
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    color: black;
    font-weight: 100;
    font-size: medium;
    padding: 10px;
    outline: none;
    display: block;
    margin-top: 10px;
    justify-content: center;
}

.select-Container {
    display: flex;
    align-items: center;
    /* Zentriert die Elemente vertikal */
    flex-direction: column;
}


.sector-Name {
    display: flex;
    justify-content: center;
    /* Zentriert Elemente horizontal */
    align-items: center;
    /* Zentriert Elemente vertikal */
    color: rgb(35, 35, 35);
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 10px;
}


.subsector-Name {
    display: flex;
    font-size: 30px;
    font-weight: 300;
    color: rgb(39, 39, 39);
    margin-bottom: 10px;
    margin-top: 20px;
}



