
.indicator {
    align-items: center;
}
.next-back-button{
    display: flex;
    align-items: center;
    margin-top: 20px;
}


.questionContainer button {  
   
    width: 50%;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 50px;
    outline: none;
    border-radius: 80px;
    box-shadow: 0 0 10px rgb(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: black;
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.questionContainer button:hover {
    background-color: rgba(255, 255, 255, 0.5); /* Hellere Hintergrundfarbe beim Hover */
    color: #333; /* Dunklere Textfarbe beim Hover */
  }

  .back-to-home {
    width: 50%;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 50px;
    outline: none;
    border-radius: 80px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: black;
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    text-decoration: none; /* Entfernt die Unterstreichung */
}

.back-to-home:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: #333;
}
