.number {
  width: 300px;
  height: 40px;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.2);
  font-weight: 100;
  font-size: medium;
  text-align: center;
}

label
{
  margin-right: 15px; /* Adds space to the right of each label */
  margin-left: 15px;
}
