.checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: transparent;
    outline: none;
    
  }
  
  .checkbox:checked {
    background-color: #0033ca;
  }
  
  .checkbox-container {
    display: flex;
    align-items: center;
  }
  
  .checkbox-text {
    font-size: 16px;
    color: white;
    vertical-align: middle; /* Vertikal zentriert */
  }

input[type="number"] {
    width: 150px;
    height: 40px;
    background: transparent;
    border: 2px solid rgba(250, 255, 255, .2);
    border-radius: 20px;
    color: #fff;
    font-weight: 100;
    font-size: medium;
}

input::placeholder {
    color: #fff;
    text-indent: 10px;
    /* Verschiebt den Text 10 Pixel nach rechts */
}