.checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 50%;
  border-color: rgb(0, 0, 0, 0.5);
  background-color: transparent;
  outline: none;
  margin: 10px;
  /* Entfernen des margin-bottom: auto; */
  vertical-align: middle;
  /* Ausrichtung auf der vertikalen Mittellinie */
}


.checkbox:checked {
  background-color: rgb(106, 106, 106);


}


.number {
  width: 300px;
  height: 40px;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin-right: 30px;
  font-weight: 100;
  font-size: medium;
}

input::placeholder {
  color: #050505;
  text-indent: 10px;
  /* Verschiebt den Text 10 Pixel nach rechts */
}