* {

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    background-color: rgb(125, 186, 255);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;



}

.questionContainer {
    position: fixed;
    top: 10%;
    padding: 30px;
    border: 2px solid rgba(255, 255, 255, 0);
    backdrop-filter: blur(40px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}
/* Stilisiere das Hintergrundvideo, um es über das gesamte Fenster zu legen */
#background-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1; /* Video im Hintergrund */
}

#background-image {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 0; /* Foto im Vordergrund */
}