

.transparent-header {
    background-color: transparent !important;
}
.parallax-bg {
    background-image: url('../assets/images/Background2.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.parallax-bg2 {
    background-image: url('../assets/images/Background2.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.custom-img{
    width: 20%;
    height: auto;

}