/* Stilisiere den Container für den Inhalt */
#container {
    display: flex;
    flex-direction: column;
    /* Elemente vertikal anordnen */
    justify-content: center;
    /* Elemente vertikal zentrieren */
    align-items: center;
    /* Elemente horizontal zentrieren */
    width: 600px;
    /* Breite des Containers */
    padding: 20px;
    background: transparent;
    border: 2px solid rgb(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
}

/* Stilisiere den Header */
#header {
    font-size: 20px;
    text-align: center;
    color: rgb(211, 207, 202);
}

#header h1 {
    font-size: 80px;
    color: rgb(198, 238, 255);
}
