body {
    background-image: linear-gradient(to right, var(--c-light), var(--c-dark)) !important;
}

.backgroundContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Hintergrund-Container hinter dem Text */
    overflow: hidden;
}

.backgroundContainer svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

svg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.out-top {
    fill: var(--c-light);
    animation: rotate 60s linear infinite;
    transform-origin: 13px 25px;
    z-index: 1; /* Bubble hinter dem Text */
}

.in-top {
    fill: var(--c-brand-light);
    animation: rotate 30s linear infinite;
    transform-origin: 13px 25px;
    z-index: 2; /* Bubble hinter dem Text */
}

.out-bottom {
    fill: var(--c-brand-light);
    animation: rotate 75s linear infinite;
    transform-origin: 84px 93px;
    z-index: 2; /* Bubble hinter dem Text */
}

.in-bottom {
    fill: var(--c-light);
    animation: rotate 45s linear infinite;
    transform-origin: 84px 93px;
    z-index: 2; /* Bubble hinter dem Text */
}