.seeMore {
    font-size: 0.85rem;
}

.commentText {
    position: fixed;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Ensure it is perfectly centered */
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s;
    z-index: 1050; /* Ensure it's above other content */
    width: 50vw;
}

.comment {
    display: block;  /* Ensures the span moves as a whole unit */
}

.comment img {
    cursor: pointer;
}

.comment img:hover + .commentText {
    visibility: visible;
    opacity: 1;
}

/* Adjust widths at specific breakpoints */
@media (max-width: 992px) { /* For medium devices */
    .commentText {
        width: 50vw; /* Slightly wider on smaller screens */
    }
}

@media (max-width: 768px) { /* For small devices */
    .commentText {
        width: 75vw; /* Use more of the viewport on small devices */
    }
}

@media (max-width: 576px) { /* For extra small devices */
    .commentText {
        width: 90vw; /* Maximize the use of space on very small screens */
    }
}