.option-item {
    font-size: 1.1rem;
    color: #272727;
    line-height: 1.3;
    font-weight: 350;
    position: relative;
}

:root {
    --scrollbar-width: 8px;
    --mask-fade-height: 32px;
}

.masked-overflow {
    position: relative;
    max-height: 15em;
    overflow-y: auto;
    padding-right: calc(var(--scrollbar-width) + 10px);
    padding-bottom: calc(var(--mask-fade-height) + 10px);

    /* Updated gradient for a larger transparent area extending further up */
    mask-image:
            linear-gradient(
                    to top,
                    transparent,
                    black 37%,  /* Start transition to black sooner */
                    black calc(100% - var(--mask-fade-height)), /* Begin transition to transparent closer to the bottom */
                    transparent
            ),
            linear-gradient(black, black);

    mask-size:
            calc(100% - var(--scrollbar-width)) 100%,
            var(--scrollbar-width) 100%;
    mask-position: top left, top right;
    mask-repeat: no-repeat;

    scrollbar-width: thin;
    scrollbar-color: currentColor transparent;
}

.masked-overflow.no-overflow {
    padding-bottom: 0;
    mask-image: none;
}

.masked-overflow::-webkit-scrollbar {
    width: var(--scrollbar-width);
}

.masked-overflow::-webkit-scrollbar-thumb {
    background-color: currentColor;
    border-radius: 9999px;
}

.masked-overflow::-webkit-scrollbar-track {
    background: transparent;
}
