.progress {
    --progress: 0%; /* Initial progress is set to 0 */

    width: 100%; /* Full width to fit container */
    height: 30px; /* Adjust height as needed */
    margin: 20px auto; /* Centering the progress bar */
    border: 1px solid #fff;
    padding: 3px;
    box-shadow: 0 0 10px #aaa;
    background: #333;
}

.progress .bar {
    width: var(--progress);
    height: 100%;
    background: linear-gradient(#17252A,#2B7A78);
    box-shadow: 0 0 10px 0 lightslategrey;
    animation:
            shine 4s ease-in infinite,
            end 1s ease-out 1;
    transition: width 3s ease; /* Smooth transition for width changes */
}

:root {
    --progress: 0%;
}
