




.btn {
    background-image: linear-gradient(to top right, var(--c-brand), var(--c-brand2));
    border-radius: 60px !important;
    text-decoration: none;
    transition: var(--transition);
    box-shadow: var(--box-shadow);
    color: var(--c-dark);
    border: none !important;
}

.btn:hover {
    background-image: none;
    background-color: var(--c-light) !important;
    box-shadow: var(--box-shadow);
}

.btnH {
    background-image: linear-gradient(to top right, var(--c-brand), var(--c-brand2));
    border-radius: 60px !important;
    text-decoration: none;
    transition: var(--transition);
    box-shadow: var(--box-shadow);
    color: var(--c-dark);
    border: none !important;
    padding: 9px 30px;
    font-weight: 600;
}

.btnH:hover {
    background-image: none;
    background-color: var(--c-light) !important;
    box-shadow: var(--box-shadow);
}

