.progress {
    --progress: 0%; /* Initial progress is set to 0 */

    width: 100%; /* Full width to fit container */
    height: 30px; /* Adjust height as needed */
    margin: 20px auto; /* Centering the progress bar */
    background-color: transparent !important;
}

.progress .bar {
    width: var(--progress);
    height: 100%;
    background: linear-gradient(to right, var(--c-light), var(--c-brand-light));
    border-radius: 20px;
    animation:
            shine 4s ease-in infinite,
            end 1s ease-out 1;
    transition: width 3s ease; /* Smooth transition for width changes */
}

:root {
    --progress: 0%;
}
