
/* Stilisiere das Dropdown-Menü für Sektorauswahl */
#sectorSelect {
    
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    color: black;
    font-weight: 100;
    font-size: medium;
    padding: 10px;
    

}

#subsectorSelect {

    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    color: black;
    font-weight: 100;
    font-size: medium;
    padding: 10px;
    
}



.sector-Name {
    /* Zentriert Elemente vertikal */
    color: rgb(35, 35, 35);
    font-size: 50px;
    font-weight: 400;
   
}


.subsector-Name {
    font-size: 30px;
    font-weight: 300;
    color: rgb(39, 39, 39);
}



